
.contact-us {
    display: flex;
    justify-content: center;

    .contact-us-description {
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 1em;
        color: @dark-gray;
    }

    .message-box {

        flex: 0 1 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @message-box-border-radius: 10px;

        input, textarea {
            width: 100%;
            border-radius: @message-box-border-radius;
            box-shadow: none;
            border-style: solid;
            border-color: @primary-color;
            border-width: 2px;
            font-size: inherit;
            font-family: inherit;
            color: @gray;
            padding: 0.5em;
            margin-bottom: 0.5em;
        }

        // Style the placeholder text. Non-standard, but oh well.
        @message-placeholder-font: @display-font-1;
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-family: @message-placeholder-font;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          font-family: @message-placeholder-font;
        }
        :-ms-input-placeholder { /* IE 10+ */
          font-family: @message-placeholder-font;
        }
        :-moz-placeholder { /* Firefox 18- */
          font-family: @message-placeholder-font;
        }

        a {
            cursor: pointer;
            margin-right: 0.5em;
            color: @dark-gray;
        }

        .disabled-send-button {
            margin-right: 0.5em;
            color: @light-gray;
        }
    }

    .thanks {
        text-align: center;
        font-size: 2em;
    }
    .sent-successfully-message {

    }
}
