<div class="contact-us">


    <div class="message-box">
        <div class="email-container">
            {{input type="email" value=email placeholder="email"}}
        </div>
        <div class="message-container">
            {{textarea value=message placeholder="message"}}
        </div>
    </div>

</div>
