<div class="contact-us">

    {{#if editMode}}

        <div class="message-box">

            <div class="contact-us-description">
                Have an idea or a question?
            </div>

            {{input type="email" value=email placeholder="email"}}
            {{textarea value=message placeholder="message"}}

            {{#if readyToSend}}
                <a {{action "send"}}>send</a>
            {{else}}
                <span class="disabled-send-button">send</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if sending}}
        <img src="assets/images/orange-spinner.gif">
    {{/if}}

    {{#if sentSuccessfully}}
        <div class="sent-successfully-message">
            Great job!
        </div>
    {{/if}}


</div>
