<div class="contact-us">

    {{#if editMode}}

        <div class="message-box">

            <div class="contact-us-description">
                Have an idea or question?
            </div>

            {{input type="email" value=email placeholder="email"}}
            {{textarea value=message placeholder="message"}}

            {{#if readyToSend}}
                <a {{action "send"}}>send</a>
            {{else}}
                <span class="disabled-send-button">send</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if sending}}
        <img src="assets/images/orange-spinner.gif">
    {{/if}}

    {{#if sentSuccessfully}}
        <div>
            <div class="sent-message-heading">Thanks!</div>
            I'll get back to you soon.
        </div>
    {{/if}}

    {{#if sentUnsuccessfully}}
        <div>
            <div class="sent-message-heading">That didn't work :(</div>
            Please email me at binarynate@gmail.com instead.
        </div>
    {{/if}}

</div>
