
<div class="about-container">

    <div class="about-picture">
        <img src="assets/images/nate.jpg" alt="Nate Hill" title="That's me!">
    </div>
    <div class="about-spacer"></div>
    <div class="about-description">
        This site is a project of Nate Hill, a software engineer, musician, and inventor based in Indianapolis.
    </div>
</div>
