
.navbar-container {

    display: flex;
    justify-content: center;
    margin-bottom: @body-padding--large;
    @media @phone {
        margin-bottom: @body-padding--small;
    }
    // Allow the links to be under the logo on mobile
    flex-wrap: wrap;

    .navbar-logo {

        flex: 1 1 50%;
        // max-width: 50%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .navbar-links {
        flex: 1 0 auto;
        display: flex;
        align-content: space-around;
        // margin-left: 2em;
        // @media @phone { margin-left: 1em; }

        .navbar-link {
            flex: 1;
            display: flex;
            align-items: center;
            text-align: center;
            a {
                flex: 1;
                font-size: 1.5em;
                @media @phone { font-size: 1em; }
                font-family: @sans-serif-1;
                text-decoration: none;
                color: @primary-color;
            }
        }

        // Guarantees a minimum amount of space between links.
        .navbar-link-spacer {
            flex: 0 0 1em;
            @media @phone { flex-basis: 0.5em; }
        }
    }
}
