
<div class="navbar-container">
    <div class="navbar-logo">
        <img src="assets/images/navbar-logo.png" alt="Sonic Design">
    </div>
    <div class="navbar-links">
        <div class="navbar-link">
            <a href="/">products</a>
        </div>
        <div class="navbar-link">
            <a href="/">about</a>
        </div>
        <div class="navbar-link">
            <a href="/">contact</a>
        </div>
    </div>
</div>
