// Global site styles
@import "variables.less";

body {

    padding: @body-padding--large;
    @media @phone { padding: @body-padding--small; }

    font-size: 2em;
    @media @phone { font-size: 1em; }

    font-family: @sans-serif-1;

    p {
        color: @dark-gray;
    }
}

h1 {
    font-family: @display-font-1;
    font-size: 2em;
}

h2 {
    font-family: @display-font-1;
    color: @dark-gray;
}

article {
    margin-left: @body-padding--large;
    margin-right: @body-padding--large;
    @media @phone {
        margin-left: @body-padding--small;
        margin-right: @body-padding--small;
    }

    h2 {
        margin-top: 2em;
        color: @gray;
    }

    .article-images {
        display: flex;
        justify-content: center;
        align-items: center;
        // todo: When there is a need to place images side by side, add styles for that;
        margin-top: 2em;

        .article-image {

            flex: 1 1;

            img {
                max-width: 100%;
                display: block;
                margin: auto;
            }
        }
    }
}

figure > figcaption {
    font-size: 1em;
    text-align: center;
    font-family: @display-font-2;
    color: @light-gray;
}

// Import the styles of the component pods (courtesy of the ember-component-css addon).
@import "pod-styles";
