// Global site styles
@import "variables.less";

body {
    padding: @body-padding;
    font-family: @sans-serif-1;

    p {
        color: @dark-gray;
    }
}

h1 {
    font-family: @display-font-1;
    font-size: 4em;
}

h2 {
    font-family: @display-font-1;
    color: @dark-gray;
}

article {
    margin-left: @body-padding;
    margin-right: @body-padding;

    h2 {
        margin-top: 2em;
        color: @gray;
    }

    section {
        font-size: 2em;
    }

    .article-images {
        display: flex;
        justify-content: center;
        align-items: center;
        // todo: When there is a need to place images side by side, add styles for that;
        margin-top: 2em;
    }
}

figure > figcaption {
    font-size: 1em;
    text-align: center;
    font-family: @display-font-2;
    color: @light-gray;
}

// Import the styles of the component pods (courtesy of the ember-component-css addon).
@import "pod-styles";
