
<article>
    <h1>Introducing Voxophone</h1>

    <section>
        <p>
            Voxophone is an app that turns your singing and humming into realistic instrument sounds - like a keyboard that you play with your voice.
        </p>

        <div class="article-images">
            <img src="assets/images/voxophone-demo.gif" alt="Voxophone demo">
        </div>

    </section>

</article>


