
<article>
    <header>
        <h1>Introducing Voxophone</h1>
    </header>

    <section>
        <p>
            Voxophone is an app that turns your singing and humming into a variety of musical instrument sounds - like a keyboard that you play with your voice.
        </p>

        <div class="article-images">
            <figure class="article-image">
                <img src="assets/images/voxophone-demo.gif" alt="Voxophone demo">
                <figcaption>The Voxophone app.</figcaption>
            </figure>
            <figure class="article-image">
                <a href="https://itunes.apple.com/us/app/voxophone/id1224464977?mt=8" target="_blank">
                    <img src="assets/images/apple-store.png" alt="Available on the App Store">
                </a>
                <img src="assets/images/google-play-coming-soon.png" alt="Coming soon to Google Play">
            </figure>

        </div>

    </section>
    <section>
        <h2>The Problem</h2>
        <p>
            The idea for Voxophone was born out of a problem that I faced. I can play guitar, but often the notes that I play don't match what I had intended. That's because playing an instrument typically requires several layers of translation. Think of a musical pitch. To play that note on an instrument, your mind must first translate that pitch to a mental image of the hand positions needed to play it on the instrument. Then, the second translation occurs when you actually try to apply those hand movements to your instrument in the real world.
        </p>
        <div class="article-images">
            <figure class="article-image">
                <img src="assets/images/voxophone-mental-translation-1.png" alt="thinking of a note -> thinking about where that note is located on the instrument -> playing the note">
                <figcaption>Mental translation for playing a musical instrument.</figcaption>
            </figure>
        </div>
        <p>
            For skilled musicians, this translation happens instantly and with little conscious thought. For those of us with less musical experience and practice, though, this is a significant hurdle to bringing musical ideas to the real world. The traditional solution to overcome this hurdle is to invest the time to practice playing the instrument. However, many people don't have the patience, interest, or drive to practice a musical instrument for hundreds or thousands of hours.
        </p>
    </section>
    <section>
        <h2>The Solution</h2>
        <p>
            Wouldn't it be great to eliminate those translation layers? The ideal instrument would read your mind to turn thoughts directly into music. I think it's possible to create such an instrument, but doing so will take significant time. Voxophone aims to provide the next-best thing by letting you control instruments with your voice. This simplifies the translation to just thinking of a note and then singing or humming it - something that comes more naturally to people. Voxophone takes care of the second translation for you by converting your voice into the desired instrument.
        </p>
        <div class="article-images">
            <figure class="article-image">
                <img src="assets/images/voxophone-mental-translation-2.png" alt="thinking of a note -> singing it">
                <figcaption>Typical Voxophone player.</figcaption>
            </figure>
        </div>
        <p>
            Voxophone currently features ten nice-sounding instruments and an additional mystery instrument. I've had fun playing it so far, and I think that all the singing I've been doing has had the pleasant side effect of improving my singing.
        </p>
    </section>
    <section>
        <h2>Summary</h2>
        <p>
            Voxophone aims to lower the barrier for music making by letting you play instruments in a way that feels natural - with your voice. The app's initial version succeeds as a proof of concept and works well with high notes that are sung with an "oooo" sound. There's still much room for improvement, such as detecting lower notes with different vowel sounds. The biggest challenge has been making the app fast enough to respond to notes in real time, and this is also something that needs more improvement. I still have ideas for boosting performance, though, and I believe that the increased power of new mobile devices will help with this in the future. Another obvious improvement is the addition of more instruments. Voxophone is designed to allow new instruments to be added easily, so this is something I hope to update soon!
        </p>
    </section>
</article>


